# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
vnv/
geckodriver.log
pyTest_runs.log

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# test-runner-app ignored files START
# compiled output
test-runner-app/dist
test-runner-app/tmp
test-runner-app/out-tsc
test-runner-app/app-builds
test-runner-app/main.js

# dependencies
test-runner-app/node_modules

# misc
test-runner-app/.sass-cache
test-runner-app/connect.lock
test-runner-app/coverage
test-runner-app/libpeerconnection.log
test-runner-app/npm-debug.log
test-runner-app/testem.log
test-runner-app/typings
test-runner-app/package-lock.json

# e2e
test-runner-app/e2e/*.js
!test-runner-app/e2e/protractor.conf.js
test-runner-app/e2e/*.map

# test-runner-app ignored files END



