atomicwrites==1.1.5
attrs==18.1.0
colorama==0.3.9
more-itertools==4.2.0
numpy==1.14.5
opencv-python==3.4.1.15
Pillow==5.2.0
pluggy==0.6.0
py==1.5.4
PyAutoGUI==0.9.36
PyMsgBox==1.0.6
PyScreeze==0.1.14
pytesseract==0.2.2
pytest==3.6.2
PyTweening==1.0.3
six==1.11.0
