/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h2 {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

p {
  font-size: 12px;
}

p.passed {
  color: green
}

p.skipped {
  color: orange
}

p.failed {
  color: red
}


li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
